In [34]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [35]:
from selenium import webdriver

In [36]:
driver = webdriver.Chrome('./chromedriver.exe')

In [42]:
driver.get("https://finance.naver.com/item/sise_day.nhn?code=005930")

In [43]:
page = driver.page_source

In [44]:
soup = BeautifulSoup(page,'html')

C:\Users\user\anaconda3\envs\iot\lib\site-packages\bs4\__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "html.parser")

  markup_type=markup_type))

In [48]:
table = soup.find_all('tbody')
table = table[0]
from html_table_parser import parser_functions as parser
table2 = parser.make2d(table)
df = pd.DataFrame(table2)
df = df.drop([1,7,8,9,15])
df

             0       1      2       3       4       5           6
0           날짜      종가    전일비      시가      고가      저가         거래량
2   2020.08.11  58,800  1,000  58,000  59,500  57,800  19,002,781
3   2020.08.10  57,800    300  57,600  58,300  57,500  17,774,291
4   2020.08.07  57,500    500  57,900  58,400  57,100  18,751,717
5   2020.08.06  58,000  1,100  57,100  58,400  57,100  21,625,874
6   2020.08.05  56,900    400  57,300  57,500  56,300  17,739,706
10  2020.08.04  57,300    500  57,200  58,100  57,000  19,419,694
11  2020.08.03  56,800  1,100  57,800  57,900  56,700  21,158,940
12  2020.07.31  57,900  1,100  59,500  59,600  57,700  21,943,345
13  2020.07.30  59,000      0  59,700  60,100  59,000  19,285,354
14  2020.07.29  59,000    400  60,300  60,400  58,600  36,476,611

In [57]:
df[0],df[1]

(0             날짜
 2     2020.08.11
 3     2020.08.10
 4     2020.08.07
 5     2020.08.06
 6     2020.08.05
 10    2020.08.04
 11    2020.08.03
 12    2020.07.31
 13    2020.07.30
 14    2020.07.29
 Name: 0, dtype: object,
 0         종가
 2     58,800
 3     57,800
 4     57,500
 5     58,000
 6     56,900
 10    57,300
 11    56,800
 12    57,900
 13    59,000
 14    59,000
 Name: 1, dtype: object)