### 연습문제

In [ ]:
1. 주피터랩에서 엑셀, csv 두 방식으로 읽어 드려 데이터프레임 타입으로 변환시켜 보세요.
2. 국가이름이 인덱스가 되게 만들어 보세요.
3. 전체 누계, 정렬 등 데이터를 판다스를 사용해 조작해 보세요.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_excel('covid_data1 (1).xlsx',encoding='utf-8')
#df1

In [3]:
df = pd.read_csv('covid_data1 (1).csv',
                      encoding='utf-8')
df.head()

         국가      감염자인원  감염자 발생률   사망자 인원  사망자 발생률  사망률
0        미국  4,665,002   1417.5  154,834     47.0  3.3
1       브라질  2,733,677   1287.0   94,104     44.3  3.4
2        인도  1,750,723    127.9   37,364      2.7  2.1
3       러시아    850,870    591.3   14,128      9.8  1.7
4  남아프리카공화국    503,290    866.2    8,153     14.0  1.6

In [4]:
df.set_index('국가',inplace=True)

In [6]:
df.head()

              감염자인원  감염자 발생률   사망자 인원  사망자 발생률  사망률
국가
미국        4,665,002   1417.5  154,834     47.0  3.3
브라질       2,733,677   1287.0   94,104     44.3  3.4
인도        1,750,723    127.9   37,364      2.7  2.1
러시아         850,870    591.3   14,128      9.8  1.7
남아프리카공화국    503,290    866.2    8,153     14.0  1.6

In [17]:
df.dtypes

감염자인원       object
감염자 발생률    float64
사망자 인원      object
사망자 발생률    float64
사망률        float64
dtype: object

In [13]:
df1.sort_values(by='사망자 인원',ascending=False).head()
#엑셀은 정렬이 된다.(문자열(콤마에문제생기지않는다.))

    국가    감염자인원  감염자 발생률  사망자 인원  사망자 발생률   사망률
0   미국  4665002   1417.5  154834     47.0   3.3
1  브라질  2733677   1287.0   94104     44.3   3.4
5  멕시코   439046    331.9   47746     36.1  10.9
9   영국   304695    454.8   46201     69.0  15.2
2   인도  1750723    127.9   37364      2.7   2.1

In [39]:
df['사망자 인원']=df['사망자 인원'].str.replace(',','').astype('int64')

In [40]:
df.head()

         감염자 발생률  사망자 인원  사망자 발생률  사망률
감염자인원
4665002   1417.5  154834     47.0  3.3
2733677   1287.0   94104     44.3  3.4
1750723    127.9   37364      2.7  2.1
850870     591.3   14128      9.8  1.7
503290     866.2    8153     14.0  1.6

In [42]:
df.dtypes

감염자 발생률    float64
사망자 인원       int64
사망자 발생률    float64
사망률        float64
dtype: object